.links{
    padding: 0px 20px;
}

.active{
    transform: translateX(0%) !important;
    
}

.trans{
    transition: all .3s linear !important;
}

.exit_btn{
    background: transparent;
    border: 0;
    padding: 0;
    color: #000;
    font-size: 40px;
    cursor: pointer;
    margin-bottom: 20px;
    position: relative;
    left: 85%;
    &:focus{
        background: transparent;
    }
    &:active{
        background: transparent;
    }
}
 
.mobile_menu{
    display: none;
    //992
}

@media screen and (max-width: 992px){
    .mobile_menu{
        position: absolute;
        z-index: 10000000000000;
        display: block;
    }
}
