$max-height: 64px;

.navbar{
    width: 100% !important;
    position: sticky;
    top: 0;
    z-index: 100;
    max-height: $max-height !important;
    background: #fff !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 0px #fff !important;
    // margin-bottom: 50px;
}

.navbar_fixed{
    width: 100% !important;
    display: none !important;
    position: fixed;
    max-height: $max-height !important;
    background: #fff !important;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-shadow: 0px 0px 0px #fff !important;
    display: block;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1000;
}

.navbar__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.navbar__link{
    font-size: 25px;
    color: #000;
    line-height: 62px;
    transition: all .3s linear;
    &:hover{
        background: transparent;
        color: #548eaa;
    }
}

.container{
    max-height: $max-height;
}

.title_container{
    text-align: center;
    padding: 15px 0px;
    background: #fff !important;

}

.page_title{
    font-size: 3.56rem;
    color: #000 !important;
    font-weight: bold;
}

.page_subtitle{
    font-size: 1.8rem;
    color: #000 !important;
}

.mb_navbar{
    // transform: translate(0,0) !important;
    transition: all .2s linear;
}

.active{
    transform: translate(0,0) !important;
}

.mb_button{
    display: none;
    font-size: 40px;
    background: transparent;
    border: none;
    margin: 0px 30px 0px 20px;
    outline: none;
    &:focus{
        background: transparent;
    }
    &:active{
        background: transparent;
    }
}

.mb_navbar__link{
    font-size: 18px !important;
    margin: 5px 0px;
    transition: all .2s linear;
    &:hover{
        color: #fff;
        background: #000 !important;
    }
}

.navbar__logo{
    font-size: 3rem !important;
    color: #000 !important;
    margin: 20px 0px;
    transition: all .2s linear;
    &:hover{
        
        background: transparent !important;
    }
}

.overlay{
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.377);
}

.title_overlay{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100;
    background: rgba(0, 0, 0, 0.377);
}

@media screen and (max-width: 992px){
    .navbar{
        display: none;
    }
    .title_container{
        position: sticky !important;
        display: flex;
        align-items: center;
        z-index: 2;
        top: 0;
        text-align: left;
        border-bottom: 1px solid #ccc;
    }
    .mb_button{
        display: block;
    }
}

@media screen and (max-width: 768px){
    .page_title{
        font-size: 2.9rem;
        color: #000 !important;
        font-weight: bold;
    }
    .page_subtitle{
        font-size: 1.6rem;
        color: #000 !important;
    }
    .title_container{
        padding: 10px 0px;
        background: #fff !important;  
    }
}


@media screen and (max-width: 500px){
    .page_title{
        font-size: 2.6rem;
        color: #000 !important;
        font-weight: bold;
    }
    .page_subtitle{
        font-size: 1.5rem;
        color: #000 !important;
    }
    .title_container{
        padding: 7px 0px;
        background: #fff !important;  
    }
    .mb_button{
        font-size: 35px;
        background: transparent;
        border: none;
        margin: 0px 20px 0px 20px;
        outline: none;
        &:focus{
            background: transparent;
        }
        &:active{
            background: transparent;
        }
    }
}

@media screen and (max-height: 500px){
    .navbar__logo{
        font-size: 2.5rem !important;
    }
    .page_title{
        font-size: 2.7rem;
        color: #000 !important;
        font-weight: bold;
    }
    .page_subtitle{
        font-size: 1.3rem;
        color: #000 !important;
    }    
    .mb_button{
        font-size: 30px;
        background: transparent;
        border: none;
        margin: 0px 30px 0px 20px;
        outline: none;
        &:focus{
            background: transparent;
        }
        &:active{
            background: transparent;
        }
    }
    .title_container{
        padding: 6px 0px;
        background: #fff !important;  
    }
}